<main>
    <table>
        <tbody>
            <tr id="properties">
                <td>ID</td>
                <td>Title</td>
                <td>Author</td>
                <td>Section 1</td>
                <td>Section 2</td>
                <!-- <td>Section 3</td> -->
            </tr>
            <tr class="line" *ngFor="let post of loadedPosts" (click)="editPost(post)">
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.sections[0].content }}</td>
                <td>{{ post.sections[1].content }}</td>
                <!-- <td>Section 3</td> -->
            </tr>
        </tbody>
    </table>
</main>

