<main>
    <table>
        <tbody>
            <tr id="properties">
                <td>ID</td>
                <td>Title</td>
                <td>Author</td>
                <td *ngFor="let section of maxSections">Section {{section}}</td>
            </tr>
            <tr class="line" *ngFor="let post of loadedPosts" (click)="editPost(post)">
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.author }}</td>
                <td *ngFor="let section of post.sections">{{ section.sectionContent }}</td>
            </tr>
        </tbody>
    </table>
</main>

