<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>
<!---->
<!-- <app-home></app-home> -->
<!-- <app-post></app-post>
<app-post-add></app-post-add> -->



<!--
  HOMEPAGE DESCRIBED BY WORDS
Header
left logo with "Sign in" and "get started" buttons, dont think we need
hero --full width image with title and subtite inside
menu with social icons
End Of Header

row - 70%  of Last post 30% of Title Subtitle and description of the post
Row of 3 posts
Row of 3 posts
Footer
-->
<router-outlet></router-outlet>
