.post {
    &__thumbnail {
        width: 100%;
        height: 40%;
        align-items: center;
        display: flex;
    
        .img {
            width: 100%;
            height: 100%;
            background-image: url('https://cdn-images-1.medium.com/max/1000/0*g1vBU2ytNv0JwV69.png');
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    
    &__content {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        h2 {
            height: 50%;
            font-size: 1.75rem;
        }
        &__span {
            
            width: 90%;
            font-size: 1rem;
            &--m {
                width: auto;
                font-size: 0.7rem;
            }
        }
    
        .post_misc {
            width: 100%;
            display: flex;
            // height: 100%;
            flex-grow: 1;
            margin-top: 15px;

            &-avatar {
                width: 30px;
                height: 30px;
                background-image: url('https://cdn-images-1.medium.com/fit/c/36/36/0*CYpbfyGCRXmZHeqq.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 100%;
            }
    
            &-cont {
                margin-left: 3%;
    
                .author {
                    font-size: 0.7rem;
                }
                .date {
                    font-size: 0.6rem;
                }
            }
        }
    }
}

.main {
    &__thumbnail {
        height: 100%;
        width: 63%;

    }
    &__content {
        height: 100%;
        width: 30%;
    }
}