<section>
    <div class="home__big_post">
        <app-spinner *ngIf="loading"></app-spinner>
        <app-post class="home__big_post_main" *ngIf="!loading" [post]="posts[0]" [main]="true" routerLink="art/{{titleToUrl(posts[0].title)}}"></app-post>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
    <div class="home__posts" *ngIf="!loading">
        <app-post class="home__posts-main" *ngFor="let post of posts" [post]="post" [main]="false" routerLink="art/{{titleToUrl(post.title)}}"></app-post>
    </div>
</section>