<section>
    <div class="home__big_post post">
        <div class="post__thumbnail">
            <div class="img"></div>
        </div>
        <div class="post__content">
            <h2>Tittle Here</h2>
            <span>If you want to become a professional software developer, you’ll need to become familiar with GitHub.</span>
            <div class="post_misc">
                <div class="post_misc-avatar"></div>
                <div class="post_misc-cont">
                    <div class="author">Peter Bell</div>
                    <div class="date">Oct 18, 2019</div>

                </div>

            </div>
        </div>

    </div>
    <!-- <ul class="home__post-list">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul> -->
</section>