@import 'variables';

nav {
    display: flex;
    // height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    ul {
        display: flex;
        list-style-type: none;
        font-size: 1.2rem;
        width: 60%;
        display: flex;
        justify-content: space-between;

        li {
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}